<div class='item-row'
      [ngClass]='{sharing: sharing}'>
    <div class='main-container'>
        <div class='main' (click)='navigate()'>
            <span class='text'>
                <span class='emphasis'>
                    {{item.title}}
                </span>
                <span class='break'></span>
                <span class='regular'>
                    חיפוש
                    <ng-container *ngIf='docType() === "all"'>
                        כל התוצאות
                    </ng-container>
                    <ng-container *ngIf='docType() !== "all"'>
                        {{ docTypeDisplay() }}
                    </ng-container>
                </span>
            </span>
            <span class='goto-container'>
                <span class='goto'>
                    <ng-container *ngIf='total_results !== null'>
                        <span *ngIf='total_results < 500'>
                            {{ total_results }}
                        </span>
                        <span *ngIf='total_results >= 500'>
                            500+
                        </span>
                    </ng-container>
                    <img src='assets/img/left.svg'/>
                </span>
            </span>
        </div>
        <div class='sharers'>
            <div class="sharethis-inline-share-buttons"
                [attr.data-url]="item.url"
                [attr.data-title]="item.title"
            ></div>
        </div>
    </div>
    <div class='icon share' (click)="share()">
        <img [src]='sharing ? "assets/img/close.svg" : "assets/img/share-2.svg"'/>
    </div>
    <div class='icon trash' (click)="delete()">
        <img src='assets/img/trash.svg'/>
    </div>
</div>
